<div class="header">
  <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/home']">
    <div class="header_item">Home</div>
  </a>
  <a routerLinkActive="active" [routerLink]="['/team']">
    <div class="header_item">Team</div>
  </a>
  <a routerLinkActive="active" [routerLink]="['/post']">
    <div class="header_item">Post</div>
  </a>
  <a routerLinkActive="active" [routerLink]="['/contactus']">
    <div class="header_item">Contact us</div>
  </a>
  <a routerLinkActive="active" [routerLink]="['/login/88']">
    <div class="header_item">Login</div>
  </a>
</div>
<router-outlet></router-outlet>